%text-shadow { text-shadow: 0 2px 4px rgba(200,0,0,0.7);}
%background-gradient {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
  background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
}
%gallery-background-gradient {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -ms-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -o-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}
%h1-gradient {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
  background: -o-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.3));
}
