/*
========================================================
Gerenic
*/
body{ font-family: Helvetica, sans-serif; }
$light-grey : #898989;
$lighter-grey: #1f1f1f;
$dark-grey: #333333;
$primary-color: #000000;
